* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding: 4rem;
    
   
}
 i:hover{
    transition:0.8s;
    transform: scale(1.5);
    color: rgb(93, 6, 6);
 }

 .section1{
    /* border: 2px solid rgb(125, 104, 104);  */
    width: 20vh;
    height: 20vh;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    border-radius: 20px;
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    
 }
 input{
    width: 400px;
    height: 40px;
    opacity: 0.8;
    border: 2px solid rgb(65, 39, 39);

 }